html, body {
	overflow-x:hidden;
}
body {
	font-family: "Muli" Helvetica, Arial, sans-serif;
	color:#33333;
}
h1, h2 {
	font-family: "Muli";
}

h3, h4, h5, h6 {
	font-family: "Crimson Text", Helvetica, Arial, sans-serif;
}
h2 {
	font-size: 28px;
	font-weight: normal;
	margin-bottom: 5px;
}
p {
	font-size: 16px;
	line-height: 19px;
	font-weight: 100;
}

/* GRID */
.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	position: realtive;
}
.container:before,
.container:after {
	content: " ";
	dispaly: table;
}
.container:after {
	clear:both;
}
.one-half, .one-third, .one-fourth {
	width:96%;
	float:left;
	position: relative;
	min-height: 1px;
	margin: 0 2% 20px;
}
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width:970px;
	}
	.one-half {
		width:46%;
	}
	.one-third {
		width:29.33333%;
	}
	.one-fourth {
		width:21%;
	}
}
@media (min-width: 1200px) {
	.container {
		width:1170px;
	}
}
@media (min-width: 2000px) {
	.container {
		width:1920px;
	}
}

/* HEADER */
header {
	height: 900px;
	width: 100%;
	font-family: "Muli";
	color: #FFFFFF;
  	background-image: url("../images/hero.png");
  	background-repeat: no-repeat;
  	background-size: 100% 100%;

}
header nav {
   padding:1em 0;
 }
 header nav ul {
   display:inline;
   text-align: right;
   float:right;
   margin: 30px;
 }
 header nav ul > li {
   list-style-type: none;
   display: inline-block;
   margin:0 15px;
 }
 header nav ul > li.btn-outline {
   padding:10px 15px;
   border:2px solid #FFFFFF;
   border-radius: 4px;
 }
 header nav ul > li.btn-outline:hover {
   background:#FFFFFF;
 }
 header nav ul > li > a {
   color:#FFFFFF;
   text-decoration: none;
 }
 header nav ul > li.btn-outline:hover > a {
   color:#34495E;
 }
 header .hero {
   text-align: left;
   display:block;
 }
 header .hero h1 {
   font-size:65px;
   line-height: 68px;
   font-weight: normal;
   margin:200px 0 0 10px;
 }
 header .hero p {
 	font-size: 21px;
 	line-height: 28px;
 	margin:10px 0 40px 10px;
}
 header .site-logo img {
	top:20px;

}
 img.laptop{
	right: 0;
	position: absolute;
	border-style: none; 
	top: 130px;
}

/* BUTTONS */
.btn {
	border-radius: 8px;
	color:#FFFFFF;
	font-weight: 700;
	text-decoration: none;
	padding: 10px 30px;
	background: #4893ff;
	border: 2px solid #4893ff;
	box-shadow: 0px 2px 0px 0px #2f77e0;
	margin: 0 0 0 10px;
	font-family: "Muli";

}
 /* BENEFITS */
 .benefits {
   text-align: center;
   display:block;
   position:relative;
   height: 300px;
 }
 .benefits ul {
   margin: 0 auto;
   padding:4em 0;
 }
 .benefits ul li {
   list-style-type: none;
   display: inline-block;
 }
 .benefits span {
   color:#4893ff;
   font-size:60px;
   margin:0;
   vertical-align: middle;
 }
 .benefits h2 {
   color:#4893ff;
 }
/* PRICING */
.pricing {
	background: rgba(130,138,159,1);
background: -moz-linear-gradient(45deg, rgba(130,138,159,1) 15%, rgba(147,156,179,1) 27%, rgba(158,167,190,1) 32%, rgba(164,173,196,1) 35%, rgba(170,179,204,1) 45%, rgba(156,164,186,1) 51%, rgba(141,149,168,1) 58%, rgba(94,102,122,1) 71%, rgba(63,72,92,1) 80%, rgba(43,48,61,1) 96%, rgba(43,48,61,1) 98%);
background: -webkit-gradient(left bottom, right top, color-stop(15%, rgba(130,138,159,1)), color-stop(27%, rgba(147,156,179,1)), color-stop(32%, rgba(158,167,190,1)), color-stop(35%, rgba(164,173,196,1)), color-stop(45%, rgba(170,179,204,1)), color-stop(51%, rgba(156,164,186,1)), color-stop(58%, rgba(141,149,168,1)), color-stop(71%, rgba(94,102,122,1)), color-stop(80%, rgba(63,72,92,1)), color-stop(96%, rgba(43,48,61,1)), color-stop(98%, rgba(43,48,61,1)));
background: -webkit-linear-gradient(45deg, rgba(130,138,159,1) 15%, rgba(147,156,179,1) 27%, rgba(158,167,190,1) 32%, rgba(164,173,196,1) 35%, rgba(170,179,204,1) 45%, rgba(156,164,186,1) 51%, rgba(141,149,168,1) 58%, rgba(94,102,122,1) 71%, rgba(63,72,92,1) 80%, rgba(43,48,61,1) 96%, rgba(43,48,61,1) 98%);
background: -o-linear-gradient(45deg, rgba(130,138,159,1) 15%, rgba(147,156,179,1) 27%, rgba(158,167,190,1) 32%, rgba(164,173,196,1) 35%, rgba(170,179,204,1) 45%, rgba(156,164,186,1) 51%, rgba(141,149,168,1) 58%, rgba(94,102,122,1) 71%, rgba(63,72,92,1) 80%, rgba(43,48,61,1) 96%, rgba(43,48,61,1) 98%);
background: -ms-linear-gradient(45deg, rgba(130,138,159,1) 15%, rgba(147,156,179,1) 27%, rgba(158,167,190,1) 32%, rgba(164,173,196,1) 35%, rgba(170,179,204,1) 45%, rgba(156,164,186,1) 51%, rgba(141,149,168,1) 58%, rgba(94,102,122,1) 71%, rgba(63,72,92,1) 80%, rgba(43,48,61,1) 96%, rgba(43,48,61,1) 98%);
background: linear-gradient(45deg, rgba(130,138,159,1) 15%, rgba(147,156,179,1) 27%, rgba(158,167,190,1) 32%, rgba(164,173,196,1) 35%, rgba(170,179,204,1) 45%, rgba(156,164,186,1) 51%, rgba(141,149,168,1) 58%, rgba(94,102,122,1) 71%, rgba(63,72,92,1) 80%, rgba(43,48,61,1) 96%, rgba(43,48,61,1) 98%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#828a9f', endColorstr='#2b303d', GradientType=1 );
	padding: 4em 0;
	text-align: center;
	height: 700px;

}
 .pricing h2, .pricing p {
   color:#FFFFFF;
   line-height: 25px;
 }
 .pricing ul {
   margin:0 auto;
   padding:2em 0;
 }
 .pricing ul li {
   list-style-type: none;
 }
 .box {
   padding:0 15px 0px;
   background: #FFFFFF;
   box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
   min-height: 450px;
   position: relative;
   margin-top: 25px;
 }
 .box.middle {
   min-height: 450px;
   top: -30px;
 }
 .box h3 {
   font-family: "Muli", Helvetica, Arial, sans-serif;
   font-weight: 600;
   font-size: 28px;
   color: #FFFFFF;
   background: #304f99;
   box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.40);
   left:0;
   right:0;
   top:0;
   text-align: center;
   margin:0 -15px 30px;
   padding:15px 0;
 }
.box h4 {
   font-size:45px;
   font-weight: normal;
   margin:30px 0 5px;
   color:#4893ff;
 }
 .box h4 span {
   font-size:25px;
   vertical-align: top;
   color: #4893ff;
 }
 .box h4 span.month {
   font-family: "Muli", Helvetica, Arial, sans-serif;
   font-weight: 100;
   color:#888888;
   font-size:20px;
   vertical-align: middle;
 }
 .box ul li {
   font-size:18px;
   margin-bottom:20px;
   line-height: 20px;
  
 }
 .box .btn {
   position:absolute;
   bottom:30px;
   left:20px;
   right:20px;
 }
 .small {
   font-size: 12px;
   color: #FEFEFE;
   line-height: 15px;
   font-style:italic;
 }

 /* TESTIMONIALS */
 .testimonials {
   padding:4em 0;
   text-align: center;
   height: 450px;
 }
 .testimonials h2 {
   color:#4893ff;
 }
 .testimonials p {
 	line-height: 20px;
 }
 .testimonials ul li {
   list-style-type: none;
   margin: 0 2% 4em;
 }
 .testimonials blockquote {
   color:#FFFFFF;
   text-align: left;
   font-style: italic;
   background:#434958;
   border-radius: 8px;
   position: relative;
   padding:25px;
   width:auto;
   margin:0;
 }
 .testimonials blockquote:after {
   top: 100%;
   left: 50%;
   border: solid transparent;
   content: " ";
   height: 0;
   width: 0;
   position: absolute;
   pointer-events: none;
   border-top-color: #434958;
   border-width: 10px;
   margin-left: -10px;
 }
 .middle {
 	position: relative;
 	top:20px;
 }
 .testimonials img {
   height: 65px;
   width: 65px;
   border-radius:50%;
   float: left;
   display: inline-block;
   margin:16px 10px 0 140px;

 }
 .testimonials p.name {
   float: right;
   display: inline-block;
   text-align: left;
   font-size:13px;
   margin-top: 35px;
   position: relative;
   right: 15px;
   top: -14px;
 }
 /* FOOTER */
 footer {
   background-color: #434958;
   color: #FFFFFF;
   height: 80px;
   left: 0px;
   bottom:0px;
   width: 100%;
   overflow: hidden;
   z-index: 0;
 }
 footer p, footer nav ul {
   font-size:14px;
   font-weight:100;
   text-align: center;
   margin: 10px auto 0;
   font-family: "Crimson Text";
 }

footer nav ul li {
	list-style-type: none;
	display: inline;
}
footer nav ul li a {
	color: #FFFFFF;
	text-decoration: none;
}
 @media (min-width: 992px){

   footer p, footer nav ul{
     padding: 2em 0;
     text-align: left;
   }
   footer .logo{
     padding: 1em 0 2em 7em;
     position: absolute;
     top: 0px;
    }
 }
/* DASHBOARD */
.dashboard {
	background: #f8fafc;
}

.left-nav {
	height: 100vh;
	width: 280px;
	color: #FFFFFF;
	background: #434958;
	float: left;
	position: absolute;
	display: block;
	font-family: "Muli";
	-webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   transform: translate(-280px,0);
     -webkit-transform: translate(-280px,0); /** Chrome & Safari **/
     -o-transform: translate(-280px,0); /** Opera **/
     -moz-transform: translate(-280px,0); /** Firefox **/
 }
 .left-nav.open {
   display:block;
   width:280px;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
     z-index: 100;
 }
 .hamburger {
   position:absolute;
   z-index: 1000;
   background:#434958;
   color:#FFF;
   text-decoration: none;
   font-size: 22px;
   padding: 10px 15px;
   border-radius: 4px;
   left: 5px;
   top: 15px;

}
@media (min-width:992px) {
   .left-nav {
     height: 100vh;
     width:14.66666667%;
     color:#FFFFFF;
     background: #434958;
     float:left;
     position: fixed;
     display:block;
     transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
   }
   .left-nav.open {
     width:14.66666667%;
     transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
   }
   .hamburger {
     display:none;
   }
 }
.left-nav .site-logo {
	padding: 20px 0;
	display: block;
	text-align: center;
}
/* ITEMS */

.left-nav .items {
	padding: 0;
}

.left-nav .items p {
	font-weight: 600;
	text-transform: uppercase;
	font-size: 18px;
	color: #FFFFFF;
	padding: 10px 0 0 25px;

}
.left-nav .items p .fa {
	font-size: 12px;
	float: right;
	margin-right: 45px;
}
.left-nav .items .active {
	background-color: #30343e;
	position: relative;
  height: 40px;
}

.left-nav .items .orange-rectangle {
	background-color: #d98409;
	width: 5px;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.left-nav .settings .active {
  background-color: #30343e;
  position: relative;
  height: 40px;
}

.left-nav .settings .orange-rectangle {
  background-color: #d98409;
  width: 5px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.left-nav .boxes .active {
  background-color: #30343e;
  position: relative;
  height: 40px;
}

.left-nav .boxes .orange-rectangle {
  background-color: #d98409;
  width: 5px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.left-nav .items ul{
	padding: 0;
}
.left-nav .items ul li(:first-child),.left-nav .items ul li(:last-child) {
	margin: 0;
}
.left-nav .items ul li {
	list-style-type: none;
	text-transform: uppercase;
	font-size: 15px;
	vertical-align: middle;
	padding-left: 30px;
	height: 40px;
	line-height: 40px;
	box-sizing: border-box;
}
.left-nav .items ul li a {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: 100;
}
.left-nav .items ul li a i {
	width: 16px;
	text-align: center;
	margin-right: 8px;
}
/* BOXES */
.left-nav .boxes {
	padding: 0;
}
.left-nav .boxes p {
	font-weight: 600;
	text-transform: uppercase;
	font-size: 18px;
	color: #FFFFFF;
	padding: 10px 0 0 25px;

}
.left-nav .boxes p .fa {
	font-size: 12px;
	float: right;
	margin-right: 45px;
}
.left-nav .boxes ul{
	padding: 0;
}
.left-nav .boxes ul li(:first-child),.left-nav .boxes ul li(:last-child) {
	margin: 0;
}
.left-nav .boxes ul li {
	list-style-type: none;
	text-transform: uppercase;
	font-size: 15px;
	vertical-align: middle;
	padding-left: 30px;
	height: 40px;
	line-height: 40px;
	box-sizing: border-box;
}
.left-nav .boxes ul li a {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: 100;
}
.left-nav .boxes ul li a i {
	width: 16px;
	text-align: center;
	margin-right: 8px;
}
/* SETTINGS */
.left-nav .settings {
	padding: 0;
}
.left-nav .settings p {
	font-weight: 600;
	text-transform: uppercase;
	font-size: 18px;
	color: #FFFFFF;
	padding: 10px 0 0 25px;

}
.left-nav .settings p .fa {
	font-size: 12px;
	float: right;
	margin-right: 45px;
	
}
.left-nav .settings .settings-menu{
	padding:0;
}
.left-nav .settings .settings-menu li(:first-child),.left-nav .settings .settings-menu li(:last-child) {
	margin: 0;
}
.left-nav .settings .settings-menu li {
	list-style-type: none;
	text-transform: uppercase;
	font-size: 15px;
	vertical-align: top;
	padding-left: 30px;
	height: 40px;
  line-height: 40px;
	
}
.left-nav .settings .settings-menu li a {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: 100;

}
.left-nav .settings .settings-menu li a i {
	width: 16px;
	text-align: center;
	margin-right: 8px;
}
.left-nav .settings li {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: 100;
}

.left-nav .settings img {
	height:24px;
	width: 24px;
	border-radius: 50%;
	margin-right: 8px;
	display: inline-block;
	vertical-align: text-bottom;
}

.left-nav .settings .online {
	background-color: #00ff00;
	width: 8px;
	height: 8px;
	display: inline-block;
	border-radius: 100%;
	margin-left: 10px;
	margin-bottom: 1px;
}
 .left-nav .account {
   position:absolute;
   background:#30343e;
   width:100%;
   bottom:0;
   left:0;
   right:0;
   padding:10px 0;
 }
 .left-nav .account img {
   height:35px;
   width:35px;
   border-radius: 50%;
   margin-left:10px;
   display: inline-block;
 }
 .left-nav .account p {
   display: inline-block;
   vertical-align: top;
   padding: 10px 0 0 5px;
   font-weight: 400;
   margin: 0;
 }
 .left-nav .account a {
   color:#FFFFFF;
   text-decoration: none;
   text-align: right;
   margin-right:14px;
   margin-top:10px;
 }

 /* CONTENT */
 .content {
   padding:6em 1% 1.5em;
   float:right;
   width:98%;
   position: relative;
 }
 .content .header {
   margin:0 1% 20px;
 }
 .content .header h1 {
   font-family: "Muli", Helvetica, Arial, sans-serif;
   margin:0 0 30px;
   font-size: 44px;
   color: #172546;
   line-height: 44px;
   display:inline-block;
 }
 .content .header > a {
   float:right;
 }
 .content-item {
   width:96%;
   margin:0 2% 25px;
   float:left;
   display:block;
 }
 .item-box {
   display:block;
   height:250px;
   background: #FFFFFF;
   box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.40);
   position: relative;
   overflow: hidden;
   padding:20px;
 }

@media (min-width:460px) {
   .content {
     padding:1.5em 1%;
     float:right;
     width:90%;
     position: relative;
   }
   .content-item {
     width:46%;
     margin:0 2% 25px;
     float:left;
     display:block;
   }
 }
/* Tablets */
 @media (min-width:768px) {
   .content {
     padding:1.5em 5%;
     float:right;
     width:90%;
     position: relative;
   }
   .content > .container {
     width:700px;
   }
   .content-item {
     width:31.33333%;
     margin:0 1% 25px;
   }
 }
/* Laptops and Desktops */
 @media (min-width:992px) {
   .content {
     padding:1.5em 1%;
     float:right;
     width:83.33333333%;
     position: relative;
   }
   .content > .container {
     width:auto;
   }
   .content-item {
     width:23%;
     margin:0 1% 25px;
   }
 }

.item-box > img {
   position:absolute;
   height:100%;
   width:auto;
   top:0;
   left:0;
   right:0;
 }
 .item-box h2 {
   font-family: 'Muli', Helvetica, Arial, sans-serif;
   font-weight: 700;
   font-size: 15px;
   line-height: 17px;
   margin:0;
 }
 .item-box h2 a {
   color: #3498DB;
   text-decoration: none;
 }
 .item-box h2 img {
   width:16px;
   height:16px;
   position:relative;
   top:2px;
   margin-right:5px;
 }
 .item-box p {
   font-size: 14px;
   color: #333333;
   line-height: 18px;
   margin:5px 0 0;
 }



































